<launch>
    <node name="yamaha_rosbridge_client_node" 
          pkg="yamaha_rosbridge_client" 
          type="main.py" 
          output="screen">
        <param name="host" value="10.61.6.101"/>
        <param name="port" value="9090"/>
        <param name="reconnection_period" value="1"/>
    </node>
</launch>